<div class="mypage-wrapper">
    <header class="mypage-header">
    <div class="logout-btn">
        <% if session[:user] %>
        <form action="/signout" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input class="signin-btn" type="submit" value="LOGOUT">
        </form>
        <% end %>
    </div>
        <div class="mypage-greet">
            <h1 id="mypage"><%= @name %>さん！<br>ご利用ありがとうございます。</h1>
    
            
        </div>
    </header>
    <div class="myreservation">
        <h2>次回のご予約</h2>
        <% if @reservations.empty? %>
            <p>予約はありません。</p>
        <% else %>
            <p><%= @reservations.last['date'] %></ｐ>
            <div class="reserve-date">
                <span><%= @reservations.last['start_time'] %></span>〜
                <span><%= @reservations.last['end_time'] %></span>
            </div>
            <p><%= @reservations.last['guests'] %>名様</p>
        <% end %>
    </div>
    
        <div class="mypage-btn-lists">
            <div class="mypage-btn-list">
                <h3>RESERVE</h3>
                <a href="http://localhost:4567/reserve"><img class="btn-img" src="../../img/coffee.jpeg" alt="コーヒー"></a>
            </div>
            <div class="mypage-btn-list">
                <h3>MENU</h3>
                <a href="http://localhost:4567/menu"><img class="btn-img" src="../../img/coffee5.jpeg" alt=""></a>
            </div>
            <div class="mypage-btn-list">
                <h3>CAFELOG</h3>
                <a href="http://localhost:4567/cafelog"><img class="btn-img" src="../../img/coffee4.jpeg" alt=""></a>
            </div>
        </div>   
    </div>
    
    <footer class="mypage-footer">
        <div class="insta"><a href="https://www.instagram.com/cafe_kitohon/?hl=ja" target="_blank"><img src="../../img/insta.png" alt="インスタ" ></a></div>
        <div class="twitter"><a href="https://twitter.com/CAFE_KITOHON?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><img src="../../img/twitter.png" alt="ツイッター" ></a></div>
        <div class="copy">Copyright © 木と本 All Rights Reserved.</div>
    </footer>
    
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
