<div class="mypage-wrapper">
    <header class="mypage-header">
        <div class="mypage-greet">
            <h1><%= @name %>さん！<br>ご利用ありがとうございます。</h1>
        </div>
    </header>
    <div class="myreservation">
        <h2>次回のご予約</h2>
        <p><%= @reservations.last['date'] %></ｐ>
        <div class="reserve-date">
            <span><%= @reservations.last['start_time'] %></span>〜
            <span><%= @reservations.last['end_time'] %></span>
        </div>
        <p><%= @reservations.last['guests'] %>名様</p>
    </div>
    <div class="mypage-btn">
        <div class="mypage-btn-lists">
            <div class="mypage-btn-list"><a href="http://localhost:4567/reserve"><img class="btn-img" src="../../img/coffee2.jpeg" alt="コーヒー"></a></div>
            <div class="mypage-btn-list"><a href="#"><img class="btn-img" src="../../img/food1.jpeg" alt=""></a></div>
            <div class="mypage-btn-list"><a href="#"><img class="btn-img" src="../../img/coffee.jpeg" alt=""></a></div>
        </div>   
    </div>
    <footer class="mypage-footer">
        <div class="insta"><a href="https://www.instagram.com/cafe_kitohon/?hl=ja" target="_blank"><img src="../../img/insta.png" alt="インスタ" ></a></div>
        <div class="twitter"><a href="https://twitter.com/CAFE_KITOHON?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><img src="../../img/twitter.png" alt="ツイッター" ></a></div>
        <div class="copy">Copyright © 木と本 All Rights Reserved.</div>
    </footer>
</div>